div.nav-container {
  background: $_sb_frosted;
}

body.home .entry-header-demo {
    background-image: none;
}

div.block-page {
  display:none;
}

footer.site-footer {
  background: $_sb_ghost;
  padding: 10px 20px;
}
