// --------------------------------------------------------------
// Theme options
//
// Start here!
// This is the core file where most of the theme magic happens.
// --------------------------------------------------------------

// Sue colours to replace others
// http://www.colourlovers.com/palette/307137/Laudanum_Heartbeat
$_sb_dark: #030A03;
$_sb_blue: #0D3A40;
$_sb_grey: #807F7C;
$_sb_beige: #B6BDA8;
$_sb_pink: #D9C8BD;
$_sb_frosted: rgba(255,255,255,0.85);
$_sb_ghost: rgba(255,255,255,0.2);

// Colors
$color-links: $_sb_grey;
$color-hover: $_sb_beige;
$color-body: $_sb_grey;
$color-headings: $_sb_grey;
$color-body-darker: $_sb_blue;
$color-grey: $_sb_grey;
$color-darkgrey: $_sb_dark;
$color-lightgrey: $_sb_beige;
$color-dark: $_sb_dark;
$color-almostblack: $_sb_blue;
$color-fog: $_sb_pink;

// Font settings
// You can use these font stacks normally with `font-family: $font-sans;` for instance.`
// Please set up fonts in sass/layout/_typography.scss
$font-base: 'Montserrat', sans-serif;
$font-headings: 'Montserrat', sans-serif;
$font-monospace: 'IBM Plex Mono', monospace;

// Font options
//font-family: 'Montserrat', sans-serif;
//font-family: 'Ubuntu', sans-serif;
//font-family: 'IBM Plex Mono', monospace;
//font-family: 'Amatic SC', cursive;
//font-family: 'Shadows Into Light', cursive;

// Font settings
$font-min-size: 19px; // Minimum font size, on mobile
$font-max-size: 18px; // Maximum font size, on desktop
$font-base-line-height: 1.78; // Line height for paragraphs
$font-base-line-height-elements: 1.68; // Line height for other elements like table cells and spans
$headings-line-height-setup: force; // Force: all headings have same line height. Flexible: values are set separately in _typography.scss
$headings-line-height-forced: 1.22; // This is effective only if force is chosen in $headings-line-height-setup
$headings-weight: 900; // Default title weight. Usually 700 or 900 works pretty well
$headings-scale: medium; // Change this as a base for your project or create your own in _typography.scss.

// Breakpoints
$grid-type: fluid; // 'fluid' or 'snappy'
$layout-max-width: 100%;

// Container settings
$container-default-pad-x: 2rem; // Default padding between containers horizontally. Tweak _general.scss if needed.
$container-default-pad-y: 6.4rem; // Default vertical padding for containers
$grid-base-size: 960px; // Layout container max width on desktop. This is default .container size
$article-max-width: 800px; // Max width for articles (see also $content_width in functions.php!)
$container-mobile: 480px;
$container-desktop: 1200px;
$container-ipad: 770px;
$container-ipad-landscape: 1024px;

// Where navigation transforms into responsive - scale your window width down to test
$responsivenav: 960px;
